{% include "layout/base.html" %} {% block content %}
<form action="{% url 'auth:logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Logout</button>
</form>
<h1>Tasks <a href="{%url 'todo:create_todo'%}">add todo</a> </h1>
<form action="{% url 'todo:create_todo' %}" method="post">
  {% csrf_token %}
  <input type="text" name="title" placeholder="Title" />
  <input type="text" name="description" placeholder="Description" />
  <input type="submit" value="Create" />
</form>

<ul>
  {% for todo in todos %}
  <li>
    <a href="{% url 'todo:edit_todo' todo.id %}"
      >{{ todo.title }} - {{ todo.description }}</a
    >
    <form action="{% url 'todo:complete_todo' todo.id %}" method="post">
      {% csrf_token %} {% if todo.completed %}
      <button style="color: green" type="submit">(Completed)</button>
      {% else %}
      <button type="submit">Mark as Completed</button>
      {% endif %}
    </form>
    <form action="{% url 'todo:delete_todo' todo.id %}" method="post">
      {% csrf_token %} <button style="color: red" type="submit">Delete</button>
    </form>
  </li>
  {% endfor %}
</ul>
{% endblock %}
