{% extends "layout/base.html" %} {% block title %} Create Todo {% endblock %} 
{% block content %}
<main class="p-10 mt-10">
  <div class='space-y-4'>
    <a href="{% url 'todo:list_all_todo' %}" class="max-w-fit flex items-center gap-1 border rounded-lg px-2 py-1">
      <svg
        class="w-4 h-4"
        width="15"
        height="15"
        viewBox="0 0 15 15"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M6.85355 3.14645C7.04882 3.34171 7.04882 3.65829 6.85355 3.85355L3.70711 7H12.5C12.7761 7 13 7.22386 13 7.5C13 7.77614 12.7761 8 12.5 8H3.70711L6.85355 11.1464C7.04882 11.3417 7.04882 11.6583 6.85355 11.8536C6.65829 12.0488 6.34171 12.0488 6.14645 11.8536L2.14645 7.85355C1.95118 7.65829 1.95118 7.34171 2.14645 7.14645L6.14645 3.14645C6.34171 2.95118 6.65829 2.95118 6.85355 3.14645Z"
          fill="currentColor"
          fill-rule="evenodd"
          clip-rule="evenodd"
        ></path>
      </svg> Back
    </a>
    <h1 class="text-2xl">Create Todo</h1>
  </div>
  <form action="{% url 'todo:create_todo' %}" method="post">
    {% csrf_token %}
    <div class="mt-2">
      <label for="title" class="block mb-2 text-sm font-medium text-gray-900"
        >Title</label
      >
      <input
        type="text"
        id="title"
        name="title"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Enter the title..."
        required
      />
    </div>
    <div class="mt-2">
      <label
        for="description"
        class="block mb-2 text-sm font-medium text-gray-900"
        >Description</label
      >
      <input
        type="text"
        id="description"
        name="description"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
        placeholder="Enter the description..."
        required
      />
    </div>
    <div class="mt-2">
      <button
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 focus:outline-none"
        type="submit"
      >
        Create
      </button>
    </div>
  </form>
</main>
{% endblock %}
